*{
    box-sizing: content-box;
    padding: 0;
    margin:0;
    font-family:  sans-serif;
    color: white;
}
/* /////////////////////////////////////////////////////////////////////////// */
#section1{
    width: 100%;
    height: 100%;
}

html{
    background: linear-gradient(rgba(0, 0, 0, 0.6),#0477dc,rgb(60, 185, 207));
    margin-left: 1%;
    margin-right:1%;
    min-height: -webkit-fill-available;
}

body{
    padding-left: 1%;
    padding-right: 1%;
    color: white;

}

.logoimage > img{
    float: left;
}

/* /////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////// */
/* Responsive adjustment coding */
/* mobile */
@media only screen and (max-width: 480px){
    div[class^="style1"],div[class^="style2"]{
        flex-direction: column;
    }
    body[class^="p1responsive"]{
        display: inline-block;
    }
    div[class^="homeradio"]{
        display: inline-flex;
        align-items: center;
    }
    #content1{
        font-size: x-small;
    }
}

/* tablet */
@media only screen and (min-width: 481px){
    div[class^="style1"],div[class^="style2"]{
        flex-direction: column;
    }
    body[class^="p1responsive"]{
        display: block;
    }
    div[class^="homeradio"]{
        display: flex;
        justify-content: center;
    }
}

/* desktop */
@media only screen and (min-width: 730px){
    div[class^="style1"],div[class^="style2"]{
        flex-direction: row;
    }
}

/* Here is the first row of the those 2 boxs styling */
.style1{
    display:flex;
    justify-content: center;
}
/* Here is the container styling, when mouse hover */
.style1 div:hover{
    background: #00FFFF;
    transition: 1s;
    transform: skew(-20deg, 20deg);
    box-shadow: 0 0 100px 20px #00FFFF;
    /* this will causing the box to shift*/
}
/* Here is the second row of the those 2 box items styling */
.bs1{
    background-color:rgb(30, 30, 70);
    border-radius: 20px;
    justify-content: space-evenly;
    flex: 1;
    max-width:500px;
    height:300px;
    margin:20px;
    text-align: center;
}
/* Here is the second row of the those 2 boxs styling */
.style2{
    display:flex;
    justify-content: center;
}

/* Here is the container styling, when mouse hover */
.style2 div:hover{
    background: #00FF00;
    transition: 1s;
    transform: rotate(360deg);
    box-shadow: 0 0 100px 20px #00FF00;
}
/* Here is the second row of the those 2 box items styling */
.bs2{
    background-color:#010a01;
    border-radius: 20px;
    justify-content: space-evenly;
    flex: 1;
    max-width:500px;
    height:300px;
    margin:20px;
    text-align: center;
}

/* for all text styling*/
.text1,.text2,.text3,.text4{
    font-size: 100px;
    padding-top: 80px;
    font-family: Brush Script MT, Brush Script Std, cursive;
    text-shadow: 15px 15px 10px black;
}

.homeradio{
    display: flex;
    color:antiquewhite;
    text-align: center;
    gap:30px;
    justify-content: center;
}

/* /////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////// */

/* /////////////////////////////////////////////////////////////////////////// */
/* //////////////////////Start of Navigation Menu Styling///////////////////// */

nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    position: fixed;
    right: 7px;
}

.navfont .iconbt{
    display:inline-block;
    overflow:hidden;
    border-radius: 30px;
    width: 50px;
    height: 60px;
    transition: all 0.3s ease-out;
}

.navfont .iconbt:hover{
    width: 200px;
    background:#90b7e0;
}

.navfont .iconbt .icon{
    display:inline-block;
    text-align: center;
    width: 60px;
}

.navfont .iconbt .icon i{
    font-size: 35px;
    line-height: 60px;
}
/* Removing the dot from the list style */

nav > ul > .iconbt > li{
    list-style-type: none;
    width: 100px;
    float: right;
    font-size: 18px;
}
/*hover to change cell color*/

nav > ul > .iconbt> li a:hover{
    font: bold;
    color: #043b75;
    text-decoration: none; /* removing the url underline */
    transition: 1s;
}


a{
    text-decoration: none; /* removing the url underline */
    display: flex;
    margin-top: 20px;
}
/* /////////////////////////End of Navigation styling///////////////////////// */
/* /////////////////////////////////////////////////////////////////////////// */


footer{
    display: flex;
    justify-content:right;
    position: relative;
    width: 100%;
}
